* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'poppins';
  background-color: var(--clr1);
}

h1,
h2,
h3
{
  margin: .5em 0 .6em;
  font-family: 'merri', cursive;
}

h4,
h5,
h6{
  margin: .5em 0 .6em;
  font-family: 'poppins';
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 29%) 1px 0px 1px;
  border: none;
  font-size: .75em;
  cursor: pointer;
  padding: 5px;
}

button:hover {
  box-shadow: rgb(0 0 0 / 29%) 0px 1px 2px inset;
}



/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}